body {
    font-family: Arial, sans-serif;
    background: #f5f5f5;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
}

.card {
    background: white;
    width: 300px;
    padding: 30px;
    border-radius: 25px;
    text-align: center;
    box-shadow: -3px 3px 10px rgba(255,0,0,0.2);
    border: 1px solid #E09B9B;
}

.card img {
    font-size: px;
}

.icon {
    width: 60px;
    margin-bottom: 15px;
}

.subtitle {
    color: #000;
}

h1 {
    color: #C40000 ;
}

.btn {
    background: #C40000;
    color: white;
    border: none;
    padding: 12px 20px;
    border-radius: 25px;
    font-size: 14px;
    cursor: pointer;
    margin: 15px 0;
}

.menu {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.menu-item {
    background: #D7A3A3;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    color: #C40000;
}
